body
{
    background-color: rgb(42, 42, 42);
    font-family: Verdana;
    font-size: smaller;
}

.BuilderWindow
{
    margin: 0.5cm;
    
    background-color: rgb(48, 48, 48);
    border-radius: .5cm;

    height: 95vh;

    color:white;
}

.TreeList
{
    background-color: rgb(40, 40, 40);
    border-top-left-radius: .5cm;
    border-bottom-left-radius: .5cm;

    height: 100%;
    width: 74.5%;

    float: left;
}

.SidePanel
{
    display: flex;
    flex-flow: column;

    height: 100%;
    width: 25%;
    
    float: right;
}

.GalaxyView
{

    background-color: rgb(21, 21, 21);
    border-top-right-radius: .5cm;

    aspect-ratio: 1;
}

.InputPanel
{
    display: flex;
    flex-flow: column;

    margin-top: 2%;
    background-color: rgb(35, 35, 35);
    border-bottom-right-radius: .5cm;
    
    flex: 1 1 auto;
}

.BuilderWindow,.TreeList,.GalaxyView,.InputPanel
{
    box-sizing: border-box;
    padding: 0.5cm;
}

.GalaxyCanvas
{
    background-color: black;

    align-self: center;

    aspect-ratio: 1;
    width: 100%;
}

.Input
{
    position: relative;
    flex: 1 1 auto;
}

.TextBox
{
    border: 0;

    background-color: rgb(21, 21, 21    );;
    color: white;

    position:absolute;
    bottom: 0;
    width: calc(100% - 0.5cm);

    padding: 7px;
    padding-left: 10px;
}

::-webkit-input-placeholder
{
    color: gray;
}